li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bg{
//border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.center_message{
//border: 1px solid red;
    width: 1000px;
    margin: 10px auto;
    min-height: 300px;
}

.book_title{
    //border:1px solid green;
    min-width: 100px;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
}


.book_img{
    border:1px solid red;
    width: 90px;
    height: 125px;
    float: left;
}

.book_img img{
    width: 90px;
    height: 125px;
}

.book_message{
    //border:1px solid red;
    max-width: 870px;
    min-height: 35px;
    margin-left: 20px;
    float: left;
}

.book_table{
    border:1px solid rgb(204, 204, 204);
    float: left;
    margin-top: 15px;
    width: 990px;
    min-height: 200px;
}

.book_collect{
    border:1px solid rgb(204, 204, 204);
    float: left;
    margin-top: 15px;
    width: 990px;
    min-height: 200px;
    margin-bottom: 30px;
}

.collect_message{
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 45px;
    position: relative;
}

.book_Id{
    position: absolute;
    line-height: 45px;
    left: 30px;
}

.book_place{
    position: absolute;
    line-height: 45px;
    left: 450px;
}

.book_status{
    position: absolute;
    line-height: 45px;
    right: 30px;
}