li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bg{
border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.borad_center{
    position: relative;
    width:1200px;
    height: 400px;
    background-color: aliceblue;
    padding-top: 100px;
}

.center_title{
    //border: 1px solid red;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 500px;
}

.message_text{
    width: 800px;
    height: 200px;
    margin-left: 200px;
}

.message_submit{
    margin-left: 800px;
    margin-top: 30px;
}

.submit_result{
    position: absolute;
    color: red;
    left: 600px;
    top:380px;
}

.message_button{

}