li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bg{
//border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.top_menu{
//border: 1px solid gray;
    width: 1200px;
    height: 40px;
}

.top_menu li{
    float: right;
    height: 40px;
    margin-right: 20px;
}

.top_menu li a{
    color: rgb(204, 204, 204);
    font-size: 15px;
}


.center_result{
    //border: 1px solid red;
    width: 1000px;
    margin: 10px auto;
}

.result_left_category{
    border: 1px solid grey;
    width: 240px;
    background-color: #F6F6F6;
    min-height: 700px;
    float: left;
}

.center_result_book{
    border: 1px solid rgb(204, 204, 204);
    margin-left: 250px;
    width: 750px;
    padding-left: 20px;
    min-height: 700px;
}

.result_one_book{
    //border: 1px solid green;
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 730px;
    height: 180px;
    margin-top: 20px;
    padding-top: 25px;
}

.book_img{
    border:1px solid red;
    width: 90px;
    height: 125px;
    float: left;
}

.book_img img{
    width: 90px;
    height: 125px;
}

.book_message{
    //border: 1px solid green;
    width: 600px;
    height: 150px;
    float: left;
    margin-left: 20px;
    position: relative;
}

.book_message a{
    color: black;
}

.book_message a:hover {
    color: #3377AA;
}

.book_title {
    margin-left: 10px;
}

.book_sketch{
    font-size: 12px;
    color:rgb(114, 114, 114) ;
}

.book_collection{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 14px;
}