<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，对Sql进行分类化管理 ,namespace等于mapper接口的地址-->
<mapper namespace="com.dragon.mapper.ReaderMapper">

    <!--获取最新的读者编号-->
    <select id="getLastReaderId" resultType="long">
        select readerId from Reader order by readerId desc limit 1
    </select>

    <!--用户注册-->
    <insert id="readerRegist" parameterType="ReaderExtend">
        INSERT into Reader (readerId, readerName, phone, email, password) VALUES (#{readerId}, #{readerName}, #{phone}, #{email}, #{password})
    </insert>

    <!--用户修改密码-->
    <update id="updatePassword" parameterType="ReaderExtend">
        update Reader set password=#{password} where readerId=#{readerId}
    </update>

    <!--读者登录-->
    <select id="readerLogin" parameterType="ReaderExtend" resultType="ReaderExtend">
        select * from Reader where readerId = #{readerId} and password = #{password} and status = #{status}
    </select>

    <!--通过编号查询读者信息-->
    <select id="getReaderById" parameterType="long" resultType="ReaderExtend">
        select * from Reader where readerId = #{value}
    </select>

    <!--通过读者编号查找当前借阅的图书-->
    <select id="getNowBorrowCord" parameterType="long" resultType="BorrowExtend">
        select br.*,bo.bookName
        from Borrow br, Book bo
        where br.readerId = #{value} and br.bookId = bo.bookId
    </select>

    <!--添加留言-->
    <insert id="addMessage" parameterType="MessageExtend">
        insert into Message(messageDate, readerId, message) VALUES (#{messageDate}, #{readerId}, #{message});
    </insert>

    <!--修改读者信息-->
    <update id="updateMessage" parameterType="ReaderExtend">
        update Reader set readerName=#{readerName},phone=#{phone},email=#{email},motto=#{motto} where readerId=#{readerId}
    </update>

</mapper>