<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，对Sql进行分类化管理 ,namespace等于mapper接口的地址-->
<mapper namespace="com.dragon.mapper.SearchMapper">

    <!--通过图书名查询图书-->
    <select id="searchBookByName" parameterType="string" resultType="BookInType">
        select b.*,t.*
        from Book b,BookType t,BookInType i
        where b.bookName like #{value} and b.bookId = i.bookId and i.typeId = t.typeId
    </select>

    <!--通过出版社查询图书-->
    <select id="searchBookByPublish" parameterType="string" resultType="BookInType">
        select b.*,t.*
        from Book b,BookType t,BookInType i
        where b.publish like #{value} and b.bookId = i.bookId and i.typeId = t.typeId
    </select>

    <!--通过作者查询图书-->
    <select id="searchBookByAuthor" parameterType="string" resultType="BookInType">
        select b.*,t.*
        from Book b,BookType t,BookInType i
        where b.author like #{value} and b.bookId = i.bookId and i.typeId = t.typeId
    </select>

    <!--根据图书编号查询图书-->
    <select id="searchBookById" parameterType="long" resultType="BookInType">
        select * from Book where bookId = #{value}
    </select>

    <!--根据图书类型查询图书-->
    <select id="searchBookByType" parameterType="long" resultType="BookInType">
        select b.*,t.*
        from Book b,BookType t,BookInType i
        where i.typeId = #{value} and b.bookId = i.bookId and i.typeId = t.typeId
    </select>

</mapper>