<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- META TAGS -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>留言</title>
   <!--引入样式文件-->
   <header th:include="main_top::mainheader"></header>
</head>

<body>

<!--从main_top.html中引入名字为maintop的fragment-->
	<div th:include="main_top::maintop"></div>

<!-- Start of Page Container -->
		<div class="page-container">
             <div class="container">
                  <div class="row">

                       <!-- start of page content -->
                        <div class="span8 page-content">

                          	<article class="type-page hentry clearfix">
                                <h1 class="post-title">
									<a href="#">留言板</a>
								</h1>
								<hr />
								<p>留言板功能暂无开放...</p>
							</article>


							<form id="contact-form" class="row" action="#" method="post">

								<div class="span2">
									<label for="name">
										您的姓名
										<span>*</span>
									</label>
								</div>
								<div class="span6">
									<input type="text" name="name" id="name"
										   class="required input-xlarge"
										   value="" title="* 请输入您的姓名"/>
								</div>

								<div class="span2">
									<label for="email">
										你的电子邮箱
										<span>*</span>
									</label>
								</div>

								<div class="span6">
									<input type="text" name="email" id="email"
										   class="email required input-xlarge"
										   value="" title="* 请输入一个可用的电子邮箱,以方便联系您"/>
								</div>

								<div class="span2">
									<label for="reason">
										留言主题
									</label>
								</div>

								<div class="span6">
									<input type="text" name="reason" id="reason"
										   class="input-xlarge" value=""/>
								</div>

								<div class="span2">
									<label for="message">
										留言的内容
										<span>*</span>
									</label>
								</div>

								<div class="span6">
									<textarea name="message" id="message"
											  class="required span6" rows="6"
											  title="* 请输入您要告诉我们的信息">

									</textarea>
								</div>

								<div class="span6 offset2 bm30">
									<input type="submit" name="submit"
										   value="提交留言" class="btn btn-inverse"/>
									<img src="images/loading.gif"
										 id="contact-loader" alt="Loading..."/>
								</div>

								<div class="span6 offset2 error-container"></div>
								<div class="span8 offset2" id="message-sent"></div>

							</form>
						</div>
					  <!-- end of page content -->


					  <!-- start of sidebar -->
					  <aside class="span4 page-sidebar">

						  <section class="widget">
							  <div class="support-widget" th:include="main_top::mainsupport"></div>
						  </section>

						  <section class="widget">
							  <h3 class="title">最新博文</h3>
							  <ul class="articles">
								  <li class="article-entry standard" th:each="latstarticle : ${latstarticles}">
									  <h4><a th:href="@{/single/{article_id}(article_id=${latstarticle.article_id})}"
											 th:text="${latstarticle.article_title}"></a></h4>
									  <span class="article-meta">
										  <span th:text="${latstarticle.article_date+' by '}"></span>
										  <a th:href="@{/visituser/{user_id}/{nowpage}(user_id=${latstarticle.user.user_id}, nowpage = 0)}"
											 th:title="${latstarticle.user.userName}" th:text="${latstarticle.user.userName}"
											 target="_blank">
												</a>
									  </span>
									  <span class="like-count" th:text="${latstarticle.lookCount}"></span>
								  </li>

							  </ul>
						  </section>


					  </aside>
					  <!-- end of sidebar -->
				  </div>
			 </div>
		</div>
<!-- End of Page Container -->

<!-- Start of Footer -->
<footer id="footer-wrapper">


	<!-- Footer Bottom -->
	<div id="footer-bottom-wrapper">
		<div id="footer-bottom" class="container">
			<div class="row">
				<div class="span6">
					<p class="copyright">
						Copyright © 2013. All Rights Reserved by KnowledgeBase.Collect from
						<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
					</p>
				</div>
				<div class="span6">
					<!-- Social Navigation -->
					<ul class="social-nav clearfix">
						<li class="linkedin"><a target="_blank" href="#"></a></li>
						<li class="stumble"><a target="_blank" href="#"></a></li>
						<li class="google"><a target="_blank" href="#"></a></li>
						<li class="deviantart"><a target="_blank" href="#"></a></li>
						<li class="flickr"><a target="_blank" href="#"></a></li>
						<li class="skype"><a target="_blank" href="skype:#?call"></a></li>
						<li class="rss"><a target="_blank" href="#"></a></li>
						<li class="twitter"><a target="_blank" href="#"></a></li>
						<li class="facebook"><a target="_blank" href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Footer Bottom -->

</footer>
<!-- End of Footer -->

<a href="#top" id="scroll-top"></a>

<!-- script -->
<script type='text/javascript' th:src='@{/js/jquery-1.8.3.min.js}'></script>
<script type='text/javascript' th:src='@{js/jquery.easing.1.34e44.js?ver=1.3}'></script>
<script type='text/javascript' th:src='@{js/prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4}'></script>
<script type='text/javascript' th:src='@{js/jquery.liveSearchd5f7.js?ver=2.0}'></script>
<script type='text/javascript' th:src='@{js/jflickrfeed.js}'></script>
<script type='text/javascript' th:src='@{js/jquery.formd471.js?ver=3.18}'></script>
<script type='text/javascript' th:src='@{js/jquery.validate.minfc6b.js?ver=1.10.0}'></script>
<script type='text/javascript' th:src='@{js/custom5152.js?ver=1.0}'></script>

</body>
</html>

