<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>

    <link th:href="@{/css/test.css}" rel="stylesheet" type="text/css" />
    <!--<link href="../static/css/test.css" rel="stylesheet" type="text/css" />-->
</head>
<body>

<div class="top">
   <!--搜素栏-->
    <form action="#" method="get">
        <input class="top_search" placeholder="搜索博文、博主" />
        <button type="submit" class="top_search_button">搜索</button>
    </form>

    <div class="top_link_div">
        <ul>

            <li th:if="${login eq 'true'}"  class="login_regist"><a href="#" >注销</a></li>
            <li th:if="${login eq '' or login eq null}" class="login_regist"><a href="toregister">注册</a></li>
            <li class="login_regist_one">|</li>
            <li th:if="${login eq 'true'}" class="login_regist"> <a href="#" th:text="${userName}"></a></li>
            <li th:if="${login eq '' or login eq null}" class="login_regist"><a href="tologin" >登录</a></li>
            <li> <a href="#">发现</a></li>
            <li> <a href="#">首页</a></li>
        </ul>
    </div>

</div>

<div class="gb">

    <!--中间博文-->
    <div class="center_text">
        <span class="center_text_title">Title</span>
        <div class="center_text_context">简介内容</div>
        <div class="center_text_foot">
            <img src="#" />

            <a href="#" class="center_text_foot_name">博主姓名</a>
            <span class="center_text_date">时间</span>

            <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="center_text">
        <span class="center_text_title">Title</span>
        <div class="center_text_context">简介内容</div>
        <div class="center_text_foot">
            <img src="#" />

            <a href="#" class="center_text_foot_name">博主姓名</a>
            <span class="center_text_date">时间</span>

            <div class="center_text_li">
                <ul >
                    <li>分享</li>
                    <li>评论 |</li>
                    <li>点赞 |</li>
                </ul>
            </div>
        </div>
    </div><div class="center_text">
    <span class="center_text_title">Title</span>
    <div class="center_text_context">简介内容</div>
    <div class="center_text_foot">
        <img src="#" />

        <a href="#" class="center_text_foot_name">博主姓名</a>
        <span class="center_text_date">时间</span>

        <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
        </div>
    </div>
</div><div class="center_text">
    <span class="center_text_title">Title</span>
    <div class="center_text_context">简介内容</div>
    <div class="center_text_foot">
        <img src="#" />

        <a href="#" class="center_text_foot_name">博主姓名</a>
        <span class="center_text_date">时间</span>

        <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
        </div>
    </div>
</div><div class="center_text">
    <span class="center_text_title">Title</span>
    <div class="center_text_context">简介内容</div>
    <div class="center_text_foot">
        <img src="#" />

        <a href="#" class="center_text_foot_name">博主姓名</a>
        <span class="center_text_date">时间</span>

        <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
        </div>
    </div>
</div><div class="center_text">
    <span class="center_text_title">Title</span>
    <div class="center_text_context">简介内容</div>
    <div class="center_text_foot">
        <img src="#" />

        <a href="#" class="center_text_foot_name">博主姓名</a>
        <span class="center_text_date">时间</span>

        <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
        </div>
    </div>
</div><div class="center_text">
    <span class="center_text_title">Title</span>
    <div class="center_text_context">简介内容</div>
    <div class="center_text_foot">
        <img src="#" />

        <a href="#" class="center_text_foot_name">博主姓名</a>
        <span class="center_text_date">时间</span>

        <div class="center_text_li">
            <ul >
                <li>分享</li>
                <li>评论 |</li>
                <li>点赞 |</li>
            </ul>
        </div>
    </div>
</div>




</div>
</body>
</html>