<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>

    <!--<link th:href="@{css/test.css}" rel="stylesheet" type="text/css" />-->
    <link href="../static/css/test.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="gb">

    <!--中间博文-->
    <div class="center_text">
        <span class="center_text_title">Title</span>
        <div class="center_text_context">简介内容</div>
        <div class="center_text_foot">d</div>
    </div>

    <div class="center_text">

    </div>

</div>
</body>
</html>