<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--样式文件-->
<header th:fragment="mainheader">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel='stylesheet' id='bootstrap-css-css'  th:href='@{/css/bootstrap5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  th:href='@{/css/responsive5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  th:href='@{/js/prettyphoto/prettyPhotoaeb9.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  th:href='@{/css/main5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  th:href='@{/css/custom5152.html}' type='text/css' media='all' />
</header>

<!--提示登录-->
<header th:fragment="logintip">
    <script>
        function loginTip() {
            if (window.confirm("请先登录!")) {
                alert("去登陆");
                return true;
            } else {
                alert("不去登录");
                return false;
            };
        }
    </script>
</header>

<!--support-->
<div th:fragment="mainsupport">
    <h3 class="title">支持</h3>
    <p class="intro">需要更多的支持？如果您没有找到答案，请与我们联系以获得更多帮助。</p>
</div>

<div th:fragment="maintop">
<!-- Start of Header -->
<div class="header-wrapper" th:fragment="navigation">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index" title="Knowledge Base Theme">
                    <img th:src="@{/img/logo.png}" alt="Knowledge Base Theme" />
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li class="current-menu-item"><a th:href="@{/index}">首页</a></li>
                        <li><a th:href="@{/articles/{page_num}(page_num=0)}">博客列表</a></li>
                        <li><a th:href="@{/contact}">留言</a></li>

                        <li th:if="${session.userName eq null}"><a th:href="@{/tologin}">登录</a> </li>
                        <li th:unless="${session.userName eq null}">
                            <a th:href="@{/visituser/{user_id}/{nowpage}(user_id=${session.userId}, nowpage = 0)}" th:text="${session.userName}"></a>
                        </li>
                        <li th:unless="${session.userName eq null}">
                            <a th:href="@{/user/loginout}">注销</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">搜索博客或作者</h3>

        <form id="search-form" class="search-form clearfix" method="get" th:action="@{/search/{nowpage}(nowpage=0)}" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="searchText" placeholder="请输入您要搜索的博客名或博主名" title="搜索框" />
            <input class="search-btn" type="submit" value="搜索" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->
</div>
</html>