<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--样式文件-->
<header th:fragment="mainheader">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel='stylesheet' id='bootstrap-css-css'  th:href='@{/css/bootstrap5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  th:href='@{/css/responsive5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  th:href='@{/js/prettyphoto/prettyPhotoaeb9.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  th:href='@{/css/main5152.css}' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  th:href='@{/css/custom5152.html}' type='text/css' media='all' />
</header>

<!--提示登录-->
<header th:fragment="logintip">
    <script>
        function loginTip() {
            if (window.confirm("请先登录!")) {
                alert("去登陆");
                return true;
            } else {
                alert("不去登录");
                return false;
            };
        }
    </script>
</header>

<!--support-->
<div th:fragment="mainsupport">
    <h3 class="title">支持</h3>
    <p class="intro">需要更多的支持？如果您没有找到答案，请与我们联系以获得更多帮助。</p>
</div>

<div th:fragment="maintop">
<!-- Start of Header -->
<div class="header-wrapper" th:fragment="navigation">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index" title="Knowledge Base Theme">
                    <img th:src="@{/img/logo.png}" alt="Knowledge Base Theme" />
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li class="current-menu-item" onclick="changeStyle(this)"><a th:href="@{/index}" >首页</a></li>
                        <li ><a th:href="@{/articles/{page_num}(page_num=0)}" onclick="changeStyle(this)" >博客列表</a></li>
                        <li onclick="changeStyle(this)"><a th:href="@{/contact}" onclick="changeStyle(this)">留言</a></li>

                        <li onclick="changeStyle(this)" th:if="${session.userName eq null}"><a th:href="@{/tologin}">登录</a> </li>
                        <li onclick="changeStyle(this)" th:unless="${session.userName eq null}">
                            <a th:href="@{/visituser/{userId}/{nowpage}(userId=${session.userId}, nowpage = 0)}" th:text="${session.userName}"></a>
                        </li>
                        <li onclick="changeStyle(this)" th:unless="${session.userName eq null}">
                            <a th:href="@{/user/loginout}">注销</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">搜索博客或作者</h3>

        <form id="search-form" class="search-form clearfix" method="get" th:action="@{/search/{nowpage}(nowpage=0)}" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="searchText" placeholder="请输入您要搜索的博客名或博主名" title="搜索框" />
            <input class="search-btn" type="submit" value="搜索" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->

</div>


    <!-- start of sidebar -->
    <aside class="span4 page-sidebar" th:fragment="myaside">

        <section class="widget">
            <div class="support-widget" th:include="main_top::mainsupport"></div>
        </section>

        <span th:unless="${session.userName eq null}">
                    <section class="widget">
                        <h3 class="title" th:text="${session.userName+' 的博客'}">Featured Articles</h3>
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a th:href="@{/user/writeblog}">写博客</a></h4>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="#">好友系统(等待设计...)</a></h4>
                            </li>
                            <li class="article-entry video">
                                <h4><a th:href="@{/user/toupdatemsg}">修改个人信息</a></h4>
                            </li>
                            <li class="article-entry image">
                                <h4><a href="single.html">开发中. . . . . .</a></h4>
                            </li>
                        </ul>
                    </section>


                    <!--<section class="widget"><h3 class="title">最近访问的好友</h3>-->
                    <!--<ul>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">设计中...</a> </li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">设计中...</a></li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">设计中...</a></li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet, ">设计中...</a></li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">设计中...</a></li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">设计中...</a></li>-->
                        <!--<li><a href="#" title="Lorem ipsum dolor sit amet, ">设计中...</a></li>-->
                    <!--</ul>-->
                <!--</section>-->

                <section class="widget">
                    <h3 class="title">最新的评论</h3>
                    <ul id="recentcomments">
                        <li class="recentcomments" th:each="comment : ${newcomments}">
							<a th:href="@{/visituser/{userId}/{nowpage}(userId=${comment.user.userId}, nowpage = 0)}"
							   rel="external nofollow" class="url" th:text="${comment.user.userName}"></a>
							on
							<a th:href="@{/single/{articleId}(articleId=${comment.article.articleId})}"
							   th:text="${comment.article.articleTitle}"></a>
						</li>
                    </ul>
                </section>

                </span>

        <span th:if="${session.userName eq null}">
                    <section class="widget">
                        <h3 class="title" th:text="${userName +' 的博客'}"></h3>
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a href="#">正在开发...</a></h4>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="#">正在开发...</a></h4>
                            </li>
                            <li class="article-entry video">
                                <h4><a href="#">正在开发...</a></h4>
                            </li>
                            <li class="article-entry image">
                                <h4><a href="#">正在开发...</a></h4>
                            </li>
                        </ul>
                    </section>
                </span>
    </aside>
    <!-- end of sidebar -->



</html>