<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel='stylesheet' id='bootstrap-css-css'  th:href='@{/css/bootstrap5152.css?ver=1.0}' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css-css'  th:href='@{/css/responsive5152.css?ver=1.0}' type='text/css' media='all' />
<link rel='stylesheet' id='pretty-photo-css-css'  th:href='@{/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4}' type='text/css' media='all' />
<link rel='stylesheet' id='main-css-css'  th:href='@{/css/main5152.css?ver=1.0}' type='text/css' media='all' />
<link rel='stylesheet' id='custom-css-css'  th:href='@{/css/custom5152.html?ver=1.0}' type='text/css' media='all' />

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index_2.html" title="Knowledge Base Theme">
                    <img th:src="@{/img/logo.png}" alt="Knowledge Base Theme" />
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li class="current-menu-item"><a href="index2">首页</a></li>
                        <!--<li><a href="home2">Home 2</a></li>-->
                        <!--<li><a href="home3">Home 3</a></li>-->
                        <li><a href="articles">博客列表</a></li>
                        <!--<li><a href="faq">FAQs</a></li>-->
                        <!--<li><a href="#">Skins</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="blueSkin">Blue Skin</a></li>-->
                                <!--<li><a href="greenSkin">Green Skin</a></li>-->
                                <!--<li><a href="redSkin">Red Skin</a></li>-->
                                <!--<li><a href="index2">Default Skin</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#">More</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="fullWidth">Full Width</a></li>-->
                                <!--<li><a href="elements">Elements</a></li>-->
                                <!--<li><a href="page">Sample Page</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <li><a href="contact">留言</a></li>
                        <li><a href="tologin">登录</a> </li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">搜索博客或博主</h3>
        <!--<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>-->

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="请输入您要搜索的博客名或博主名" title="搜索框" />
            <input class="search-btn" type="submit" value="搜索" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->
</html>