<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>注册页面</title>
    <link th:href="@{css/msg.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="bg">

    <div class="msg_center">


        <div class="center_form">

            <div class="right_image"></div>

            <span class="center_message">注册成功,您的账号为: <span th:text="${userId}"></span>  </span>
            <span class="center_to_login"><a href="../tologin"> 前去登录</a></span>

        </div>

    </div>

</div>

</body>
</html>