<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>注册页面</title>
    <link th:href="@{css/register.css}" rel="stylesheet" type="text/css" />
    <!--引入样式文件-->
    <header th:include="main_top::mainheader"></header>
</head>
<body>
<!--从main_top.html中引入名字为maintop的fragment-->
<div th:include="main_top::maintop"></div>

<div class="bg">

    <div class="regist_center">

        <div class="center_form">
            <span th:each="error : ${registErrors}">
                <span th:text="${error.defaultMessage}"></span>
            </span>

            <form action="user/regist" method="post">

                <div class="form_div first_div">
                    <span>姓名:</span>
                    <input type="text" name="userName" class="form_text form_text_first" placeholder="请输入姓名" />

                </div>

                <div class="form_div">
                    <span>手机号码:</span>
                    <input type="text" name="phone" class="form_text" placeholder="请输入手机号码" />
                </div>

                <div class="form_div">
                    <span>电子邮箱:</span>
                    <input type="text" name="email" class="form_text" placeholder="请输入电子邮箱" />
                </div>

                <div class="form_div">
                    <span>登录密码:</span>
                    <input type="password" name="password" class="form_text" placeholder="输入密码" />
                </div>

                <div class="form_div">
                    <span>确认密码:</span>
                    <input type="password" name="repassword" class="form_text" placeholder="确定密码" />
                </div>

                <div class="form_bottom">
                    <input type="submit" class="form_button" value="注册" />
                    <input type="reset" class="form_button" value="重置" />
                </div>

            </form>

        </div>

    </div>

</div>

</body>
</html>