li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bg{
    background-color: #EEEEEE;
    width: 100%;
    height: 750px;
    padding-top: 10px;
}

.regist_center{
    margin: 0 auto;
    width: 850px;
    height: 620px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px rgb(204, 204, 204);
    border-radius: 2px;
    padding-top: 45px;
    padding-left: 45px;
}

.center_form{
    //border: 1px solid red;
    width: 760px;
    height: 510px;
    padding-top: 60px;
    padding-left: 45px;
}


.form_div{
    //border: 1px solid green;
    margin-top: 25px;
    position: relative;
}

.form_div span {
    margin-right: 40px;
    width: 100px;
}

.form_text{
    width: 225px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
}

.form_text_first{
    margin-left: 30px;
}

.form_bottom{
    border-top: 2px solid rgb(204, 204, 204);
    position: absolute;
    bottom: 0px;
    width: 700px;
    height: 100px;
}

.form_button{
    margin-top: 50px;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    margin-right: 30px;
}