.updatetable{
	margin: 100px auto;
}

.updatetable td {
	border: 1px solid gray;
	font-size: large;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}

.adresstd{
	width: 70px;
}

.adress {
	resize: none;
	height: 70px;
	width: 490px;
	border: none;
}

.signaturetd{
	height: 100px;
}

.signature{
	resize: none;
	height: 100px;
	width: 610px;
	border: none;
}

.col_one{
	width: 80px;
}

.col_two{
	width: 165px;
}

.col_tre{
	width: 240px;
}

.imgtd{
	width: 125px;
}

.updatetable input {
	font-size: large;
	font-weight: bold;
	height: 30px;
}

.phoneinput{
	width: 165px;
}

.threinput {
	width: 242px;
}

.submitbutton {
	border: 1px solid gray;
	width: 100px;
	height: 30px;
	font-size: large;
	font-weight: bold;
	color: red;
	margin-left: 300px;
}

.file{
	width: 10px;
	border: 1px solid red;
}